@tailwind base;
@tailwind components;
@tailwind utilities;


.card{
    background: url('../src/images/download.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    margin: 0 auto;
    
}